[submodule "eureka-server"]
	path = eureka-server
	url = https://github.com/SWM-WeLike2Coding/ELSwhere-eureka-server.git
[submodule "apigateway-server"]
	path = apigateway-server
	url = https://github.com/SWM-WeLike2Coding/ELSwhere-apigateway-server.git
[submodule "user-service"]
	path = user-service
	url = https://github.com/SWM-WeLike2Coding/ELSwhere-user-service.git
[submodule "product-service"]
	path = product-service
	url = https://github.com/SWM-WeLike2Coding/ELSwhere-product-service.git
[submodule "analysis-service"]
	path = analysis-service
	url = https://github.com/SWM-WeLike2Coding/ELSwhere-analysis-service.git
